
#content .content__map {
    height: 48px;
    background-color: #ddd;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: 5px;
    text-align: center;
    line-height: 48px;
}

#content .content__map a {
    color: #002792;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

#content .course-on,
#content .score-on,
#content .classlist-on
{
    background-color: #8abee0;  
}

#content .content__map:hover {
    background-color: #8abee0;
    cursor: pointer;
}


#content .content__search {
    margin-bottom: 32px;
    background-color: #fff;
    font-size: 15px;
    line-height: 40px;
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    height: 45px;
    transition: border-color .2s ease-in-out;
    color: #333;
} 

#content .content__search:focus-within {
    border-color: #000;
}

#content .content__search .search__icon{
    padding-left: 12px;
}

#content .content__search .search__input {
    border: none;
    caret-color: #444;
    outline: none;
    padding: 0 4px;
}









#content .content__courses .course-each {
    height: 600px;
    display: block;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 28px;
    position: relative;
}


#content .course-each .course-img:hover {
    opacity: 0.6;
}

#content .course-each .course-img img {
    border-radius: 20px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

#content .course-each .course-desc {
    padding: 28px;
    position: relative;
}

.course-each .course-desc .course-name {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 16px;
}

.course-each .course-name a {
    color: #002792;
    text-decoration: none;
}


.course-each .course-name a:hover {
    color: #0c89dc;
    cursor: pointer;
}


.course-each .course-desc .course-info {
    position: absolute;
    top: 100px;
    color: #6B7385;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
}

.course-each .course-desc .course-info i {
    width: 25px;
    color: #0c89dc;
}

.course-info .text-highlight {
    color: #000;
    font-weight: 550;
}


#content .course-each .course-enter-btn {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background-image: linear-gradient(90deg, #00ADEF, #001C66);
    width: 80%;
    min-height: 80px;
    /* max-height: 100px; */
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    text-shadow: 2px 2px #000;
    transition: background-image 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 0.5;
}

.course-each .course-enter-btn a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
    text-decoration: none;
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
}

#content .course-each .course-enter-btn:hover {
    background-image: linear-gradient(-90deg, #00ADEF, #001C66);
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0,0,0,0.5);
    transform: translate3d(0, -2px, 0);
}

.course-enter-btn:hover .btn-text {
    transition: transform 0.5s;
    transform: translateX(10px);
}

#content .content__edit {
    margin: 32px auto;
    height: 300px;
    border-radius: 25px;
    border: 2px solid #002792; /* Thay ridge thành solid và chỉ định màu border */
    background-image: linear-gradient(90deg, #c4d2fd, #f0cff5);
    text-align: center;
    line-height: 80px;
    color: #000;
    text-shadow: 2px 2px #ccc;
    opacity: 0.8;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    transition: all 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
}

#content .content__edit:hover {
    transform: translateY(-10px); /* Thêm hiệu ứng nâng cao khi hover */
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* Thay đổi box-shadow khi hover */
    background-image: linear-gradient(-90deg, #c4d2fd, #f0cff5);
}

#content .content__edit .edit-heading {
    margin: 16px 0;
}

.content__edit .edit-course {
    height: 130px;
    line-height: 130px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.content__edit a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.content__edit .edit-course:hover {
    background-image: linear-gradient(-90deg, #fff, #8abee0 );
}


/* phan body */


/* phần hiển thị ban đầu */
#content .head .row .self-inf{
    background-image: linear-gradient(90deg, #c4d2fd, #f0cff5);
    font-weight:bold;
    text-align:center;
    border-radius: 25px;
    border: 2px solid #002792; /* Thay ridge thành solid và chỉ định màu border */
    height:50px;
    font-size:30px;
    margin-top:30px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
    text-transform:uppercase;
    text-shadow: 2px 2px #ccc;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    transition: all 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
    color: #000;
}


#content .head .row .self-inf:hover {
    transform: translateY(-10px); /* Thêm hiệu ứng nâng cao khi hover */
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* Thay đổi box-shadow khi hover */
    background-image: linear-gradient(-90deg, #c4d2fd, #f0cff5);
}

#content .bo{
    margin-top:10px;
    border-radius:10px;
    border:1px solid black;
    margin-bottom:10px;
    padding-bottom: 10px;
    /* border: 1px solid #7e9ae8;  */
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
}

.techinf{
    font-weight:bold;
    text-align: center;
    font-size:20px;
    background-color:#c7f3ff;
    border-radius:10px;
    padding-left:2px;
    padding-right:2px;
    width:100%;
    margin-top:10px;
    text-transform: uppercase;
}

/* phần thẻ sinh viên */

.row .thutu {
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top:10px;
    margin-bottom:10px;
}

.thutu .circle {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.circle .number {
    font-size: 16px;
    font-weight: bold;
}
.row .sinhvien{
    margin-left:-30px;
}
.sinhvien .thestu{
    
    /* border:1px solid #00ace6; */
    border-radius:10px;
    padding-left:10px;
    padding-top:3px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:-40px;

}
.thestu p{
    margin-bottom:-1px;
}

.eva{
    margin-top:10px;
    border-radius:10px;
    width:120px;
    border:0px solid black;
    /* background-color: #f0f0f0; */
}
