@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --firstColor: #002792;
    --secondColor: #0c89dc;
    --themeColor: #ebf3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}



#header {
    width: 100%;
    height: 80px;
    /* background-color: #F8E6CB; */
    background-color: #ebf3ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    position: relative;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}

#nav .nav__logo {
    width: 80px;
    height: 80px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}


#nav .nav__logo:hover {
    opacity: 0.6;
    cursor: pointer;
}


.nav__logo img {
    width: 100%;
    padding: 12px;
    margin-left: -12px;
}

#nav .nav__menu {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 16px;
}

#nav .nav__menu div {
    padding: 0 20px;
}

#nav .nav__menu a {
    text-decoration: none;
    color: #000;
}

#nav .nav__menu:hover {
    cursor: pointer;
}

#nav .menu-home:hover>a,
#nav .menu-teacher:hover>a,
#nav .menu-student:hover>a,
#nav .menu-courses:hover>a {
    color: var(--secondColor);
}

#nav .ava-icon:hover .subnav,
#nav .menu-teacher:hover>.subnav,
#nav .menu-student:hover>.subnav,
#nav .menu-courses:hover>.subnav {
    display: block;
    border-radius: 20px;
}


#nav .subnav {
    position: absolute;
    /* background-color: #fdf7e9; */
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 200px;
    border-radius: 20px;
    line-height: 60px !important;
    display: none;
}

#nav .subnav li {
    display: block;
}

#nav .subnav li:hover {
    background-color: #8abee0;
    border-radius: 20px;
}

#nav .subnav a {
    display: block;
    font-size: 15px;
    padding: 0 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}


#nav .menu-effect>a {
    position: relative;
}

#nav .menu-effect>a::before {
    content: '';
    width: 0px;
    height: 5px;
    background-color: var(--secondColor);
    position: absolute;
    top: 120%;
    transition: .5s;
}

#nav .menu-effect:hover>a::before {
    width: 100%;
}

/* .nav__menu:hover{
    color: rgba(9, 40, 241, 0.573);
} */

#nav .nav__icon {
    max-height: 80px;
    color: var(--firstColor);
    line-height: 80px;
    display: flex;
    align-items: center;
}


.nav__icon .noti-icon {
    padding: 0 8px;
    font-size: 24px;
}

.nav__icon .ava-icon {
    padding-left: 16px;
    font-size: 48px;
    position: relative;
    margin-right: -12px;
}

.nav__icon .ava-icon .arrow-down {
    font-size: 16px;
    margin-left: -10px;
    margin-right: 12px;
}

#nav .nav__icon .subnav {
    position: absolute;
    right: 0;
}


.nav__icon .noti-icon:hover,
.nav__icon .ava-icon:hover {
    color: var(--secondColor);
    cursor: pointer;
}

#content {
    /* position: relative; */
    margin-top: 80px;
    padding-bottom: 50px;
    display: block;
    width: 100%;
    height: auto;
    background-color: #f6fcff;
    /* background: linear-gradient(-90deg,#f2d0f5, #d6dffe);     */
}

#content .content__title {
    margin: 32px auto;
    height: 60px;
    line-height: 60px;
    border-radius: 25px;
    border: 2px solid #002792;
    background-image: linear-gradient(90deg, #c4d2fd, #f0cff5);
    text-align: center;
    color: #000;
    text-shadow: 2px 2px #ccc;
    opacity: 0.8;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#content .content__title:hover {
    transform: translateY(-10px);
    /* Thêm hiệu ứng nâng cao khi hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    /* Thay đổi box-shadow khi hover */
    background-image: linear-gradient(-90deg, #c4d2fd, #f0cff5);
}


/* phan body */
/* thong tin ca nhan */
/* hiển thị thanh thông tin  */
#content .container .row .self-inf{
    background-image: linear-gradient(90deg, #c4d2fd, #f0cff5);
    font-weight:bold;
    text-align:center;
    border-radius: 25px;
    border: 2px solid #002792; /* Thay ridge thành solid và chỉ định màu border */
    height:50px;
    font-size:30px;
    margin-top:30px;
    margin-bottom:30px;
    padding-top:10px;
    padding-bottom:10px;
    text-transform:uppercase;
    text-shadow: 2px 2px #ccc;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    transition: all 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
    color: #000;
}


#content .container .row .self-inf:hover {
    transform: translateY(-10px); /* Thêm hiệu ứng nâng cao khi hover */
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* Thay đổi box-shadow khi hover */
    background-image: linear-gradient(-90deg, #c4d2fd, #f0cff5);
}




/* avatar cả khung là avarcircle */

#content .container .row .ava .avacircle{
    border: 1px solid  #002792;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    transition: all 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
    overflow:hidden; /*đảm bảo chữ không bị tràn ra ngoài*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Khoảng cách giữa hình ảnh và chữ */
}
#content .container .row .ava .avacircle .avatar{
    width: 150px; /* Độ rộng của vòng tròn */
    height: 150px; /* Độ cao của vòng tròn */
    border-radius: 50%; /* Tạo hình vòng tròn */
    overflow: hidden; /* Ẩn phần ngoài của hình vòng tròn */
    margin-bottom:10px;
}

#content .container .row .ava .avacircle .avatar img {
    width: 100%; /* Đảm bảo hình ảnh lấp đầy vòng tròn */
    height: auto;
    display: block; 
}


#content .container .row .ava .avacircle .avatar:hover{
    cursor:pointer;
    opacity:0.7;
}

#content .container .row .ava .avacircle .ten {
    text-align: center;
}
#content .container .row .ava .avacircle .ten .name{
    /*cái này tên hiển thị giáo viên*/
    font-weight:bold;
    text-transform:uppercase;
    font-size:15px;
    color:#333333;
}
/*1 change là bao gồm các phần sửa thông tin và phản hồi*/
#content .container .row .ava .avacircle .change{
    display: flex; 
    flex-direction: row; /* Hiển thị các icon theo chiều ngang */
}
#content .container .row .ava .avacircle .teachicon {
    display: flex; 
    flex-direction: row; /* Hiển thị các icon theo chiều ngang */
    align-items: center; 
    color: black;
    border: 1px solid black;
    padding:7px;
    border-radius: 5px;
    margin-right:10px;
    margin-bottom:10px;
}
#content .container .row .ava .avacircle .teachicon:hover{
    opacity:0.7;
    cursor:pointer;
    background-color: #bfbfbf;
    font-weight:bold;
}
#content .container .row .ava .avacircle .teachicon i {
    margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
}

#content .container .row .ava .avacircle .teachicon p {
    margin: 0; 
}




/* activity */

#content .container .row .ava .activity{
    border: 1px solid  #002792;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    transition: all 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
    overflow:hidden; /*đảm bảo chữ không bị tràn ra ngoài*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Khoảng cách giữa hình ảnh và chữ */
    margin-bottom:10px;
}
#content .container .row .ava .activity .recently,
#content .container .row .ava .thoiluong .recently{
    border:1px solid#002792;
    border-radius:10px;
    align-items: center;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    background-image: linear-gradient(-90deg, #A5CAD2,#FF7B89);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    margin-bottom:20px;
}

#content .container .row .ava .activity .recently:hover {
    transform: translateY(-10px); /* Thêm hiệu ứng nâng cao khi hover */
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* Thay đổi box-shadow khi hover */
    background-image: linear-gradient(-90deg, #FF7B89,#A5CAD2);
}
#content .container .row .ava .activity .change{
    display: flex; 
    flex-direction: row; /* Hiển thị các icon theo chiều ngang */
}
#content .container .row .ava .activity .teachicon {
    display: flex; 
    flex-direction: row; /* Hiển thị các icon theo chiều ngang */
    align-items: center; 
    color: black;
}
#content .container .row .ava .activity .teachicon:hover{
    opacity: 0.7;
    cursor:pointer;
}
#content .container .row .ava .activity .teachicon i {
    margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
}

#content .container .row .ava .activity .teachicon p {
    color:black;
    margin: 0; /* Loại bỏ margin của đoạn văn bản */
}
#content .container .row .ava .activity .frameact{
    border: 1px solid black;
    border-radius:5px;
    width: 100%;
    height: 50px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:15px;
    margin-bottom:10px;
}
#content .container .row .ava .activity .frameact p{
    margin-bottom:0;
}


/* duration */
#content .container .row .ava .thoiluong{
    border: 1px solid  #002792;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    transition: all 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
    overflow:hidden; /*đảm bảo chữ không bị tràn ra ngoài*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Khoảng cách giữa hình ảnh và chữ */
    margin-bottom:10px;
}
#content .container .row .ava .thoiluong .recently:hover {
    transform: translateY(-10px); /* Thêm hiệu ứng nâng cao khi hover */
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* Thay đổi box-shadow khi hover */
    background-image: linear-gradient(-90deg, #FF7B89,#A5CAD2);
}

/* phần hiển thị thông tin của giáo viên */
#content .container .row .teach-content .teach-body{
    border: 1px double  #002792;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Thêm box-shadow cho hiệu ứng bóng đổ */
    transition: all 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
    overflow:hidden; /*đảm bảo chữ không bị tràn ra ngoài*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Khoảng cách giữa hình ảnh và chữ */
    margin-bottom:10px;
    height:990px;
}

#content .container .row .teach-content .teach-body .techinf{
    font-weight:bold;
    text-align: center;
    font-size:15px;
    background-image: linear-gradient(-90deg, #f7c0ec,#a7bdea);
    border-radius:10px;
    padding-left:2px;
    padding-right:2px;
    width:100%;
}
#content .container .row .teach-content .teach-body .thongtin{
    width:100%;
    display:flex;
    font-size:15px;
    /* background-image: linear-gradient(-90deg, #f7c0ec,#a7bdea); */
    border-radius:10px;
    padding-left:2px;
    padding-right:2px;
}


 #content .container .row .teach-content .teach-body .thongtin ol li {
    margin-left:15px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
} 
#content .container .row .teach-content .teach-body .thongtin .certi {
    display: flex;
    align-items: center; /* Canh icon và văn bằng theo chiều dọc */
}
#content .container .row .teach-content .teach-body .thongtin .certi i:hover{
    opacity:0.7;
    cursor:pointer;
}
#content .container .row .teach-content .teach-body .thongtin .vanbang{
    text-align:center;
    width:700px;
    font-size:25px;
    border:1px solid black;
    border-radius:10px;
    height: 320px; 


}
#content .container .row .teach-content .teach-body .thongtin .vanbang p {
    display: block;
    margin: 5px 0; /* Thiết lập khoảng cách top và bottom */
    padding: 5px; /* Thêm padding cho các phần tử để tạo khoảng cách */
}

#content .container .row .teach-content .teach-body .thongtin .vanbang img {
    object-fit: cover; /* Đảm bảo ảnh bao phủ hết khung */
    object-position: center; /* Căn giữa ảnh trong khung */
    width: 700px;
    height: 100%;
    border-radius:10px;
}


/* đổi ảnh đại diện */
/* CSS cho cửa sổ modal */
#changeAvatarModal .modal {
    display: none; /* Ẩn cửa sổ ban đầu */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ trong suốt */
    overflow: auto;
  }
  
  /* CSS cho nội dung cửa sổ modal */
#changeAvatarModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
.modal-content .doianh{
    justify-content: center;
    text-transform: uppercase;
    text-align:center;
    color: #2952a3;
    border:2px solid #1b3975;
    border-radius:10px;
    padding-top:10px;
    padding-bottom:10px;
  }
  #preview{
    display: block;
    margin: 0 auto 10px;
  }
 #newAvatar{
    display: block;
    margin: 0 auto 10px;
    padding-left:80px;
}
  #luu{
    display: block;
    margin: 0 auto 10px;
    border-radius:10px;
    padding:5px;
    font-weight:bold;
    color:#333;
    background-image: linear-gradient(-90deg, #FF7B89,#A5CAD2);
  }
  #luu:hover{
    opacity:0.7;
  }
  /* CSS cho nút đóng */
  #changeAvatarModal .modal-content.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #changeAvatarModal .modal-content.close:hover,
  #changeAvatarModal .modal-content.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }








/* upload file văn bằng */
/* CSS cho cửa sổ modal */ 
 #uploadModal .modal {
    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: auto;
  }
  

  #uploadModal .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  .modal-content .doibang{
    justify-content: center;
    text-transform: uppercase;
    text-align:center;
    color: #2952a3;
    border:2px solid #1b3975;
    border-radius:10px;
    padding-top:10px;
    padding-bottom:10px;
  }


  #previewFrame{
    border-radius:10px;
  }
  #certificateFile{
    display: block;
    margin: 0 auto 10px;
    padding-left:80px;
}
  #tailen{
    display: block;
    margin: 0 auto 10px;
    border-radius:10px;
    padding:5px;
    font-weight:bold;
    color:#333;
    background-image: linear-gradient(-90deg, #FF7B89,#A5CAD2);
  }
  

  #uploadModal .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #uploadModal .modal-content .close:hover,
  #uploadModal .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #previewFrame {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  #previewFrame h4 {
    text-transform: uppercase;
    color: red;
    margin: 0; 
  }




 /* phần form sửa thông tin  */
 /* CSS cho cửa sổ modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#editModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#editModal.modal-content.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#editModal.modal-content.close:hover,
#editModal.modal-content.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .formchinh{
    justify-content: center;
    text-transform: uppercase;
    text-align:center;
    color: #2952a3;
    border:2px solid #1b3975;
    border-radius:10px;
    padding-top:10px;
    padding-bottom:10px;
  }


 /* css modal cho email giáo viên */
 #changeEmail{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  #changeEmail .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  #changeEmail .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #changeEmail .modal-content .close:hover,
  #changeEmail .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  

  #footer {
    background-color: #ebf3ff;
}

/*1 nua trai*/

.chan > .cotleft >.logo-text-container, 
 .chan > .cotright > .logo-text-container,
 .chan > .dangnhap > .logo-text-container{
    display: flex;
    align-items: center; 
}
.chan > .cotleft > .logo-text-container > .logo{
    margin-top:40px;
    /* padding-top:10px; */
    width: 56px; 
    height: 56px; 
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* margin-left:100px; */
}
.chan > .cotleft > .logo-text-container > .logo:hover{
    cursor:pointer;
    opacity:0.7;
}
.chan > .cotleft > .logo-text-container > .text{
    text-align:center;
    font-weight:bold;
    text-transform:uppercase;
    margin-top:40px;
    margin-left:40px;
    /* flex-grow: 1; */
    font-size:17px;
}

.icon > .inf{
    /* margin-top:10px; */
    font-weight:400;
    color: black;
}
.chan > .cotleft> .icon, 
.copyright >.icon {
    display: flex; 
    align-items: center; 
    /* margin-left: 100px; */
    color: black;
    margin-top:10px;
}
.chan > .cotleft > .icon i, 
.copyright > .icon i {
    margin-right: 10px; 
}

 .icon .map{
    color:black;
    text-decoration: none;
    font-size:12px;
}
.tqchild{
    display:block;
}
.tqchild p {
    margin: 15px 0;
    font-size:13px;
}

.tqchild .ctqs{
    color:black;
    text-decoration: none;
}
.tqchild .ctqs:hover, .icon .map:hover{
    cursor:pointer;
    opacity:0.7;
}


/*1 nua phai*/
/* home*/
.chan > .collg2{
    margin-left:-30px;
}

.chan > .colmd4{
    padding-left:30px;
    margin-top:-50px;
}
.chan > .cotright > .logo-text-container,
 .chan > .dangnhap > .logo-text-container{
    margin-left:55px;
}
.logo-text-container > .home{
    margin-top:90px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-left:20px;
    font-size:30px;
    color:#ff884d;
    margin-right:10px;
}
.logo-text-container > .tq{
    text-align:left;
    font-weight:bold;
    text-transform:uppercase;
    margin-top:100px;
    flex-grow: 1; 
    margin-bottom:10px;
    /* margin-left:-10px; */
    font-size:17px;
}
.dangnhap> .tqchild,
.cotright > .tqchild{
    margin-left:120px;
    font-weight:400;
}


footer .chan{
    padding-top:32px;
    /* display: flex;   */
    /* flex-wrap: wrap; */
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}


.copyright {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: nowrap; 
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    
}


.copyright > .social {
    font-size: 28px; 
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    /* margin-right: 10%;  */
    flex:1;
}

.social a {
    margin-right: 1vw; 
}

.tq .main{
    color:black;
    text-decoration:none;
    position:relative;
}
.tq .main:hover{
    color:rgb(4,43,146);
    cursor:pointer;
}
@media only screen and (max-width: 992px) {
    .copyright > .social{
        display:none;
    }
    .chan > .cotleft> .icon, 
    .copyright >.icon{
        margin-left:30px;
    }   
}
@media only screen and (max-width: 768px) { 
    footer .chan{
        padding-top:70px;
        display: inline-block;
    }
    .chan > .cotleft > .logo-text-container {
        display: flex;
        flex-direction: column;
    }
    .chan > .cotleft > .logo-text-container > .logo{
        margin-left:0;
        width:50px;
        height:50px;
    }
    .chan > .cotleft > .logo-text-container > .text{
        font-size:15px;
        margin-left:0;
    }

    .dangnhap> .tqchild,
    .cotright > .tqchild{
        margin-left:0px;
        font-weight:400;
    }

    .tqchild {
        text-align: center; /* Căn giữa nội dung trên màn hình nhỏ hơn 768px */
    }

    .tqchild .map,
    .icon .map {
        display: block;
        margin: 0 auto; /* Để căn giữa nội dung trong các phần tử này */
    }
    .copyright{
        font-size: 12px;
    }
}


